{% extends 'base_standard.html.twig' %}

{% block title %}Historique - Direction des Examens et Concours DECO (MENA-CI){% endblock %}
{% block active_direction %} {% endblock %}

{% block content %}
    <!--Page Title-->
    <section class="page-title centred">
        <div class="auto-container">
            <div class="content-box clearfix">
                <h1>Historique</h1>
                <ul class="bread-crumb clearfix">
                    <li><a href="{{ path('home') }}">Accueil</a></li>
                    <li>Direction</li>
                    <li>Historique</li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Page Title-->

    <!-- about-style-two -->
    <section class="about-style-two about-page-1 bg-color-1">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 content-column">
                    <div id="content_block_three">
                        <div class="content-box">
                            <div class="sec-title right">
                                <h5>Direction des Examens et Concours du Ministère de l'Education Nationale et de
                                    l'Alphabétisation de la Côte d'Ivoire</h5>
                                <h2>Historique</h2>
                            </div>
                            <div class="text">
                                <p>La Direction des Examens et COncours (DECO) est un organisme de l’Education Nationale
                                    qui est né le 15 mai 1957 avec la création du conseil de gouvernement qui met fin à
                                    la responsabilité directe de l’administration coloniale dans les affaires
                                    ivoiriennes, au lendemain de la loi cadre.
                                </p>

                                <br>

                                <p>
                                    L’Assemblée Territoriale créait alors à cette date, les douze (12) premiers
                                    ministères. L’arrêté n°30004/CAB1 du 25 mai 1957 fixant les attributions du ministère
                                    de l’Education Nationale, crée dans le même temps la DECO avec pour missions
                                    essentielles :

                                <div class="btn-box pull-right">
                                    <a href="{{ path('direction_assignment') }}" class="theme-btn style-one">En savoir plus</a>
                                </div>

                                </p>

                                <br>

                                <p>

                                </p>

                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about-style-two end -->




{% endblock %}
