{% extends 'base_standard.html.twig' %}

{% block title %}Mot de la Directrice - Direction des Examens et Concours DECO (MENA-CI){% endblock %}

{% block active_direction %} {% endblock %}

{#{% set current_menu = app.request.get('_route') %}
{{ current_menu }}
#}

{% block content %}
    <!--Page Title-->
    <section class="page-title centred" style="background-image: url({{ asset('assets/images/background/page2.jpg') }});">
        <div class="auto-container">
            <div class="content-box clearfix">
                <h1>Mot de la directrice</h1>
                <ul class="bread-crumb clearfix">
                    <li><a href="{{ path('home') }}">Accueil</a></li>
                    <li>Direction</li>
                    <li>Mot de la directrice</li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Page Title-->


    <!-- info-section -->
   {# <section class="info-section">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-7 col-md-12 col-sm-12 title-column">
                    <div class="title-inner">
                        <div class="year-box">
                            <figure class="image-box"><img src="assets/images/icons/year-icon.png" alt=""></figure>
                            <h2>35</h2>
                            <h3>FIONCA</h3>
                        </div>
                        <div class="title">
                            <h2>Years of Struggle <span>—</span> Better Strategy With Quality Business</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12 text-column">
                    <div class="text">
                        <p>Beniam quis nostrud exercitation sed lamco laboris nis aliquip sed conseqa sed rure repreh derit luptate velit excepteur ocaan dcats ipsum aliquip eduis aute irure reprehy enderit dui voluptate ipsum velit esse cillum dolore ipsum.</p>
                        <a href="index.html"><i class="fas fa-arrow-right"></i><span>Who We Are</span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>#}
    <!-- info-section end -->


    <!-- about-style-two -->
    <section class="about-style-two about-page-1">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-7 col-md-12 col-sm-12 content-column">
                    <div id="content_block_three">
                        <div class="content-box">
                            <div class="sec-title right">
                                <h5>Direction des Examens et Concours du Ministère de l'Education Nationale et de
                                    l'Alphabétisation de la Côte d'Ivoire</h5>
                                <h2>Mot de la Directrice</h2>
                            </div>
                            <div class="text">
                                <p>Depuis de longues années, la Direction des Examens et COncours (DECO), sans tambour
                                    ni trompette, lutte pour la réhabilitation des diplômes ivoiriens, et partant, pour
                                    la restauration de l’honorabilité de notre pays. La philosophie de notre structure
                                    : discrétion au service de l’efficacité.
                                </p>

                                <br>

                                <p>
                                    Mais aujourd’hui face aux nombreuses sollicitations dont nous sommes l’objet de la
                                    part des administrations de tous les continents, nous décidons de rompre le silence
                                    pour nous ouvrir au monde. D’où notre présence sur Internet qui, plus qu’un effet de
                                    mode, représente pour nous un impératif de gestion.
                                </p>

                                <br>

                                <p>
                                    Entrez dans notre microcosme et vous découvrirez une expertise et des compétences
                                    variées qui prennent en compte aussi bien l’organisation des examens et concours,
                                    l’authentification, l’homologation, l’équivalence des diplômes que les travaux
                                    d’imprimerie. En nous faisant l’honneur de visiter notre site, chers internautes,
                                    vous nous témoignez votre légitime confiance pour tant de défis relevés ces dernières
                                    années mais surtout pour les challenges à venir.
                                </p>

                                <br>

                                <p>
                                    Nous espérons que votre visite sur notre site vous donnera entièrement satisfaction.
                                    Venez cerner quelques facettes de notre maison. Et puisque la perfection n’est pas
                                    de ce monde, nous restons ouverts à vos idées novatrices, vos critiques et vos
                                    propositions.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12 image-column">
                    <div id="image_block_two">
                        <div class="image-box">
                            <div class="pattern-layer" style="background-image: url(assets/images/shape/shape-25.png);"></div>
                            <figure class="image"><img src="{{ asset('assets/images/resource/directrice_dosso_nimaga_mariam.jpg') }}" alt=""></figure>
                            <div class="content-box">
                                <i class="fas fa-microphone"></i>
                                <h4>Mme Mariam Nimaga DOSSO</h4>
                                <h5>Directrice de la DECO</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about-style-two end -->



    <!-- clients-section -->
    <section class="clients-section">
        <div class="auto-container">
            <div class="clients-carousel owl-carousel owl-theme owl-dots-none owl-nav-none">
                <figure class="client-logo"><a href="index.html"><img src="assets/images/clients/clients-1.png" alt=""></a></figure>
                <figure class="client-logo"><a href="index.html"><img src="assets/images/clients/clients-2.png" alt=""></a></figure>
                <figure class="client-logo"><a href="index.html"><img src="assets/images/clients/clients-3.png" alt=""></a></figure>
                <figure class="client-logo"><a href="index.html"><img src="assets/images/clients/clients-4.png" alt=""></a></figure>
                <figure class="client-logo"><a href="index.html"><img src="assets/images/clients/clients-5.png" alt=""></a></figure>
            </div>
        </div>
    </section>
    <!-- clients-section end -->

{% endblock %}
