{% extends 'base_standard_sidebar.html.twig' %}

{% block title %}Procédures d'inscription BAC - Direction des Examens et Concours DECO (MENA-CI){% endblock %}

{% block active_school_exams %} {% endblock %}

{% block pageTitle %}
    <!--Page Title-->
    <section class="page-title centred" style="background-image: url({{ asset('assets/images/background/page2.jpg') }});">
        <div class="auto-container">
            <div class="content-box clearfix">
                <h1>Procédures d'inscription BAC</h1>
                <ul class="bread-crumb clearfix">
                    <li><a href="{{ path('home') }}">Accueil</a></li>
                    <li>Examens Scolaires</li>
                    <li><a href="{{ path('school_exams_bac') }}">BAC</a></li>
                    <li>Procédures d'inscription BAC</li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Page Title-->
{% endblock %}


{% block content %}

    <table class="table table-bordered table-hover table-header">
        <tr class="table-header bg-black" style="background-color: gainsboro">
            <td><h3><i class="fas fa-file-pdf-o"></i>Procédures d'inscription BAC</h3></td>
        </tr>
        <tr>
            <td>
                <a href="{{ asset('assets/docs/Procedures-dinscription-au-BAC.pdf') }}"><span class="text-black-50 font-weight-bold">Procédure d'inscription au BAC</span> </a>
            </td>
        </tr>

    </table>

{% endblock %}
