{% extends 'base_standard.html.twig' %}

{% block title %}Candidat Officiel BEPC : Edition de documents candidats - Direction des Examens et Concours DECO (MENA-CI){% endblock %}

{% block active_school_exams %} {% endblock %}

{#{% set current_menu = app.request.get('_route') %}
{{ current_menu }}
#}

{% block content %}
    <!--Page Title-->
    <section class="page-title centred" style="background-image: url({{ asset('assets/images/background/page2.jpg') }});">
        <div class="auto-container">
            <div class="content-box clearfix">
                <h2 class="text-white">Candidat Officiel BEPC : Edition de documents candidats</h2>
                <ul class="bread-crumb clearfix">
                    <li><a href="{{ path('home') }}">Accueil</a></li>
                    <li>Examens Scolaires</li>
                    <li><a href="{{ path('school_exams_bepc') }}">BEPC</a></li>
                    <li>Candidat Officiel BEPC : Edition de documents candidats</li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Page Title-->



    <section class="sidebar-page-container mt-lg-n2">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 content-side">
                    <iframe width="100%" height="3000" frameborder="0" src="https://agce.exam-deco.org/edit/edit-docs/"></iframe>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
